@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GPUs <a href="GPUs">ABOBA</a>.</p>
    <p>Vendors <a href="Vendors">ABOBA</a>.</p>
    <p>Manufacturers <a href="Manufacturers">ABOBA</a>.</p>
    <p>GPUToVendors <a href="GPUToVendors">ABOBA</a>.</p>
</div>
